# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Checkpoints
checkpoints/

# Training visualizations
visualization/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/

# Logs
*.log